In [1]:
library(stringr)

In [2]:
oil.main <- read.csv('../Data/oil.csv', fileEncoding = "euc-kr", header = F)
head(oil.main)

  V1      V2                    V3                    V4
1 통계표  18.1.6.3 국제상품가격 18.1.6.3 국제상품가격 18.1.6.3 국제상품가격
2 항목명1 WTI(현물)             Dubai(현물)           Brent(현물)
3 단위    U$/bbl                U$/bbl                U$/bbl
4 변환    원자료                원자료                원자료
5 1995/01 18.39                 16.53                 17.05
6 1995/02 18.49                 16.47                 17.22
  V5
1 18.1.6.3 국제상품가격
2 금(현물)
3 $/OZ
4 원자료
5 375.100
6 377.100

In [3]:
tail(oil.main)

    V1                                  V2
325 2021/09                             75.03
326 2021/10                             83.57
327 2021/11                             66.18
328    18.1.6.3 국제상품가격
329 통계담당 : 통계정보팀 (02-759-5317)
330 주 : 자료 : 주요상품거래소           현물시장 기준
    V3                                V4    V5
325 75.90                             78.77 1,756.900
326 81.94                             83.92 1,783.380
327 70.97                                   1,774.520
328
329
330  선물은 1개월물(기말의 최종 가격)

In [4]:
colnames(oil.main)<-c('월간','WTI','Dubai','Brent','금')

In [5]:
head(oil.main)

  월간    WTI                   Dubai                 Brent
1 통계표  18.1.6.3 국제상품가격 18.1.6.3 국제상품가격 18.1.6.3 국제상품가격
2 항목명1 WTI(현물)             Dubai(현물)           Brent(현물)
3 단위    U$/bbl                U$/bbl                U$/bbl
4 변환    원자료                원자료                원자료
5 1995/01 18.39                 16.53                 17.05
6 1995/02 18.49                 16.47                 17.22
  금
1 18.1.6.3 국제상품가격
2 금(현물)
3 $/OZ
4 원자료
5 375.100
6 377.100

In [6]:
oil.main <- oil.main[c(-(1:4),-(328:330)),]
head(oil.main)
tail(oil.main)

   월간    WTI   Dubai Brent 금
5  1995/01 18.39 16.53 17.05 375.100
6  1995/02 18.49 16.47 17.22 377.100
7  1995/03 19.17 16.89 18.00 391.400
8  1995/04 20.38 17.94 19.31 387.100
9  1995/05 18.89 16.67 17.67 384.300
10 1995/06 17.40 15.34 16.47 384.600

    월간    WTI   Dubai Brent 금
322 2021/06 73.47 72.97 75.12 1,770.110
323 2021/07 73.95 73.32 75.38 1,814.180
324 2021/08 68.50 69.35 71.24 1,813.620
325 2021/09 75.03 75.90 78.77 1,756.900
326 2021/10 83.57 81.94 83.92 1,783.380
327 2021/11 66.18 70.97       1,774.520

In [7]:
rownames(oil.main)<-c()
tail(oil.main)

    월간    WTI   Dubai Brent 금
318 2021/06 73.47 72.97 75.12 1,770.110
319 2021/07 73.95 73.32 75.38 1,814.180
320 2021/08 68.50 69.35 71.24 1,813.620
321 2021/09 75.03 75.90 78.77 1,756.900
322 2021/10 83.57 81.94 83.92 1,783.380
323 2021/11 66.18 70.97       1,774.520

In [8]:
colSums(is.na(oil.main))

 월간   WTI Dubai Brent    금
    0     0     0     0     0

In [9]:
str(oil.main)

'data.frame':	323 obs. of  5 variables:
 $ 월간 : Factor w/ 330 levels "   18.1.6.3 국제상품가격",..: 2 3 4 5 6 7 8 9 10 11 ...
 $ WTI  : Factor w/ 321 levels ""," 현물시장 기준",..: 48 49 53 66 51 40 42 45 41 43 ...
 $ Dubai: Factor w/ 321 levels ""," 선물은 1개월물(기말의 최종 가격)",..: 73 72 76 85 75 65 64 66 63 68 ...
 $ Brent: Factor w/ 321 levels "","10.06","10.48",..: 74 76 79 95 77 69 66 68 70 71 ...
 $ 금   : Factor w/ 323 levels "","$/OZ","1,007.700",..: 228 230 249 245 239 240 234 235 237 236 ...

In [10]:
for (i in 2: ncol(oil.main)){ 
    oil.main[,i] <- as.numeric(str_replace_all(as.character(oil.main[,i]),',',''))

}

In [11]:
str(oil.main)

'data.frame':	323 obs. of  5 variables:
 $ 월간 : Factor w/ 330 levels "   18.1.6.3 국제상품가격",..: 2 3 4 5 6 7 8 9 10 11 ...
 $ WTI  : num  18.4 18.5 19.2 20.4 18.9 ...
 $ Dubai: num  16.5 16.5 16.9 17.9 16.7 ...
 $ Brent: num  17.1 17.2 18 19.3 17.7 ...
 $ 금   : num  375 377 391 387 384 ...

In [12]:
colSums(is.na(oil.main))

 월간   WTI Dubai Brent    금
    0     0     0     1     0

In [13]:
tail(oil.main)

    월간    WTI   Dubai Brent 금
318 2021/06 73.47 72.97 75.12 1770.11
319 2021/07 73.95 73.32 75.38 1814.18
320 2021/08 68.50 69.35 71.24 1813.62
321 2021/09 75.03 75.90 78.77 1756.90
322 2021/10 83.57 81.94 83.92 1783.38
323 2021/11 66.18 70.97    NA 1774.52

In [14]:
oil.main$월간 <- str_replace_all(as.character(oil.main[,1]),'/','.')

In [15]:
head(oil.main)

  월간    WTI   Dubai Brent 금
1 1995.01 18.39 16.53 17.05 375.1
2 1995.02 18.49 16.47 17.22 377.1
3 1995.03 19.17 16.89 18.00 391.4
4 1995.04 20.38 17.94 19.31 387.1
5 1995.05 18.89 16.67 17.67 384.3
6 1995.06 17.40 15.34 16.47 384.6

In [16]:
write.csv(oil.main,"../Data/OILdata.csv",row.names=F)