In [1]:
library(stringr)

In [2]:
kospi <- read.csv('../Data/kospi2.csv', fileEncoding = "euc-kr", header = F)
head(kospi)
tail(kospi)

  V1         V2
1 통계표     6.1.1 주식시장(일별)
2 항목명1      시가총액(주식시장, 잠정치)
3 단위       억원
4 변환       원자료
5 2003/01/02 2,618,570
6 2003/01/03 2,726,580

     V1
4699 2021/11/26
4700 2021/11/29
4701 2021/11/30
4702    6.1.1 주식시장(일별)
4703 통계담당 : 한국은행 금융시장국 주식시장팀(02-759-4775)
4704 주 : 휴일제거시 국내 영업일 기준으로 데이터가 조회되어 주식시장 영업일과 차이가 있음
     V2
4699 21,674,440
4700 21,483,590
4701 20,958,210
4702
4703
4704

In [3]:
colnames(kospi)<-c('일간','시가총액_단위_억')

In [4]:
head(kospi)

  일간       시가총액_단위_억
1 통계표     6.1.1 주식시장(일별)
2 항목명1      시가총액(주식시장, 잠정치)
3 단위       억원
4 변환       원자료
5 2003/01/02 2,618,570
6 2003/01/03 2,726,580

In [5]:
kospi<-kospi[c(-(1:4),-(4702:4704)),]

In [6]:
head(kospi)
tail(kospi)

   일간       시가총액_단위_억
5  2003/01/02 2,618,570
6  2003/01/03 2,726,580
7  2003/01/06 2,748,210
8  2003/01/07 2,689,030
9  2003/01/08 2,687,120
10 2003/01/09 2,592,000

     일간       시가총액_단위_억
4696 2021/11/23 22,138,060
4697 2021/11/24 22,108,040
4698 2021/11/25 21,999,500
4699 2021/11/26 21,674,440
4700 2021/11/29 21,483,590
4701 2021/11/30 20,958,210

In [7]:
rownames(kospi)<-c()

In [8]:
tail(kospi)

     일간       시가총액_단위_억
4692 2021/11/23 22,138,060
4693 2021/11/24 22,108,040
4694 2021/11/25 21,999,500
4695 2021/11/26 21,674,440
4696 2021/11/29 21,483,590
4697 2021/11/30 20,958,210

In [9]:
str(kospi)

'data.frame':	4697 obs. of  2 variables:
 $ 일간            : Factor w/ 4704 levels "   6.1.1 주식시장(일별)",..: 2 3 4 5 6 7 8 9 10 11 ...
 $ 시가총액_단위_억: Factor w/ 4675 levels "","  시가총액(주식시장, 잠정치)",..: 2629 2645 2648 2641 2639 2622 2620 2635 2636 2632 ...

In [10]:
for (i in 2: ncol(kospi)){ 
    kospi[,i] <- as.numeric(str_replace_all(as.character(kospi[,i]),',',''))

}

In [11]:
str(kospi)

'data.frame':	4697 obs. of  2 variables:
 $ 일간            : Factor w/ 4704 levels "   6.1.1 주식시장(일별)",..: 2 3 4 5 6 7 8 9 10 11 ...
 $ 시가총액_단위_억: num  2618570 2726580 2748210 2689030 2687120 ...

In [12]:
colSums(is.na(kospi))

            일간 시가총액_단위_억
               0               18

In [13]:
rownames(subset(kospi,is.na(kospi[,2])==T))

 [1] "248"  "498"  "748"  "996"  "1243" "1492" "1746" "1998" "2247" "2496"
[11] "2744" "2990" "3239" "3486" "3730" "3975" "4222" "4471"

In [14]:
for(i in 1:18){
    kospi$시가총액_단위_억<- str_replace_na(kospi[,2],kospi[as.numeric(rownames(subset(kospi,is.na(kospi[,2])==T))[i])+1,2])
}

In [15]:
colSums(is.na(kospi))

            일간 시가총액_단위_억
               0                0

In [16]:
kospi$일간 <- str_replace_all(as.character(kospi[,1]),'/','.')

In [17]:
head(kospi)

  일간       시가총액_단위_억
1 2003.01.02 2618570
2 2003.01.03 2726580
3 2003.01.06 2748210
4 2003.01.07 2689030
5 2003.01.08 2687120
6 2003.01.09 2592000

In [18]:
write.csv(kospi,"../Data/KOSPIdata.csv",row.names=F)