In [1]:
library(stringr)

In [2]:
suzi<- read.csv('../Data/경상수지.csv', fileEncoding = "euc-kr", header = F)

In [5]:
head(suzi)
tail(suzi,10)

  V1      V2
1 통계표  8.1.1 국제수지
2 항목명1 경상수지
3 단위    백만달러
4 변환    원자료
5 1980/01 -609.4
6 1980/02 -548.1

    V1
504 2021/08
505 2021/09
506    8.1.1 국제수지
507 통계담당 : 한국은행 경제통계국 국제수지팀(경상:02-759-4331
508 주 : - 금융계정은 순자산 기준
509  자산·부채 감소는 (-)
510 - 월별 잠정통계는 매익익월초
511  월 단위) 확정통계는 2021년초 공표
512 - 2019.2월 국제수지 일부 항목에 대한 개편으로 과거 시계열(1980.1월~2018.11월) 수정
513 - 금융계정 일부 항목의 과거 시계열이 수정
    V2
504 7,512.3
505 10,067.7
506
507  금융:02-759-4570)
508  자산·부채 증가는 (+)
509
510  2019년(1~12월
511
512
513

In [6]:
colnames(suzi) <- c('월간','경상수지')

In [7]:
head(suzi)

  월간    경상수지
1 통계표  8.1.1 국제수지
2 항목명1 경상수지
3 단위    백만달러
4 변환    원자료
5 1980/01 -609.4
6 1980/02 -548.1

In [9]:
suzi<-suzi[c(-(1:4),-(506:513)),]

In [10]:
tail(suzi)

    월간    경상수지
500 2021/04 1,909.9
501 2021/05 10,761.2
502 2021/06 8,846.9
503 2021/07 8,210.7
504 2021/08 7,512.3
505 2021/09 10,067.7

In [11]:
rownames(suzi)<-c()

In [12]:
tail(suzi)

    월간    경상수지
496 2021/04 1,909.9
497 2021/05 10,761.2
498 2021/06 8,846.9
499 2021/07 8,210.7
500 2021/08 7,512.3
501 2021/09 10,067.7

In [13]:
str(suzi)

'data.frame':	501 obs. of  2 variables:
 $ 월간    : Factor w/ 513 levels "- 2019.2월 국제수지 일부 항목에 대한 개편으로 과거 시계열(1980.1월~2018.11월) 수정",..: 7 8 9 10 11 12 13 14 15 16 ...
 $ 경상수지: Factor w/ 508 levels "","-1,008.2",..: 150 146 164 158 142 124 156 135 119 127 ...

In [14]:
suzi$월간 <- factor(suzi$월간)

In [15]:
str(suzi)

'data.frame':	501 obs. of  2 variables:
 $ 월간    : Factor w/ 501 levels "1980/01","1980/02",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ 경상수지: Factor w/ 508 levels "","-1,008.2",..: 150 146 164 158 142 124 156 135 119 127 ...

In [16]:
for (i in 2: ncol(suzi)){ 
    suzi[,i] <- as.numeric(str_replace_all(as.character(suzi[,i]),',',''))

}

In [17]:
head(suzi)

  월간    경상수지
1 1980/01 -609.4
2 1980/02 -548.1
3 1980/03 -676.8
4 1980/04 -637.1
5 1980/05 -541.2
6 1980/06 -468.5

In [18]:
str(suzi)

'data.frame':	501 obs. of  2 variables:
 $ 월간    : Factor w/ 501 levels "1980/01","1980/02",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ 경상수지: num  -609 -548 -677 -637 -541 ...

In [19]:
colSums(is.na(suzi))

    월간 경상수지
       0        0

In [20]:
suzi$월간 <- str_replace_all(as.character(suzi[,1]),'/','.')

In [21]:
head(suzi)

  월간    경상수지
1 1980.01 -609.4
2 1980.02 -548.1
3 1980.03 -676.8
4 1980.04 -637.1
5 1980.05 -541.2
6 1980.06 -468.5

In [22]:
str(suzi)

'data.frame':	501 obs. of  2 variables:
 $ 월간    : chr  "1980.01" "1980.02" "1980.03" "1980.04" ...
 $ 경상수지: num  -609 -548 -677 -637 -541 ...

In [23]:
write.csv(suzi,"../Data/CABdata.csv",row.names=F)