In [1]:
library(stringr)

In [3]:
m2<- read.csv('../Data/M2.csv', fileEncoding = "euc-kr", header = F)

In [4]:
head(m2,10)

   V1      V2
1  통계표  1.1.주요 통화금융지표
2  항목명1 M2(광의통화, 평잔)
3  단위    십억원
4  변환    원자료
5  1986/01 43,133.6
6  1986/02 43,492.4
7  1986/03 44,587.1
8  1986/04 45,188.7
9  1986/05 46,197.5
10 1986/06 47,043.5

In [5]:
tail(m2,10)

    V1
428 2021/04
429 2021/05
430 2021/06
431 2021/07
432 2021/08
433 2021/09
434    1.1.주요 통화금융지표
435 통계담당 : 한국은행 경제통계국 금융통계팀(02-759-4310
436 주 : 최종월은 잠정치
437 M2:2009.7월부터 독립적인 결제서비스를 제공하는 증권사의 CMA를 서비스 제공 시점에 따라 M2에 포함. 간접투자자산운용업법 시행(2004년 4월)에 따라 2004년 4월부터 수익증권 취급기관 및 상품 확대분 반영
    V2
428 3,358,874.9
429 3,379,753.9
430 3,413,899.8
431 3,445,243.0
432 3,487,634.1
433 3,513,220.2
434
435  5319)
436
437

In [6]:
colnames(m2) <- c('월간','M2')

In [7]:
head(m2)

  월간    M2
1 통계표  1.1.주요 통화금융지표
2 항목명1 M2(광의통화, 평잔)
3 단위    십억원
4 변환    원자료
5 1986/01 43,133.6
6 1986/02 43,492.4

In [9]:
m2 <- m2[c(-(1:4),-(434:437)),]

In [10]:
tail(m2)

    월간    M2
428 2021/04 3,358,874.9
429 2021/05 3,379,753.9
430 2021/06 3,413,899.8
431 2021/07 3,445,243.0
432 2021/08 3,487,634.1
433 2021/09 3,513,220.2

In [11]:
str(m2)

'data.frame':	429 obs. of  2 variables:
 $ 월간: Factor w/ 437 levels "   1.1.주요 통화금융지표",..: 2 3 4 5 6 7 8 9 10 11 ...
 $ M2  : Factor w/ 435 levels ""," 5319)","1,004,960.2",..: 288 289 291 294 297 300 301 304 306 309 ...

In [12]:
m2$월간 <- factor(m2$월간)

In [13]:
str(m2)

'data.frame':	429 obs. of  2 variables:
 $ 월간: Factor w/ 429 levels "1986/01","1986/02",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ M2  : Factor w/ 435 levels ""," 5319)","1,004,960.2",..: 288 289 291 294 297 300 301 304 306 309 ...

In [14]:
for (i in 2: ncol(m2)){ 
    m2[,i] <- as.numeric(str_replace_all(as.character(m2[,i]),',',''))

}

In [15]:
head(m2)

   월간    M2
5  1986/01 43133.6
6  1986/02 43492.4
7  1986/03 44587.1
8  1986/04 45188.7
9  1986/05 46197.5
10 1986/06 47043.5

In [17]:
m2$월간 <- str_replace_all(as.character(m2[,1]),'/','.')

In [18]:
str(m2)

'data.frame':	429 obs. of  2 variables:
 $ 월간: chr  "1986.01" "1986.02" "1986.03" "1986.04" ...
 $ M2  : num  43134 43492 44587 45189 46198 ...

In [19]:
write.csv(m2,"../Data/M2data.csv",row.names=F)